* {
    box-sizing: border-box;
}

html {
    font-family: Verdana;
    font-size: 16px;
    color: #555;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-image: linear-gradient(60deg, red, orange);
    color: white;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation,
.section,
.news {
    width: 100%;
    padding: 0.5em;
}

.nav-list {
    padding: 0;
}

.nav-list-item {
    list-style-type: none;
    height: 2em;
    background-color: grey;
    line-height: 2em;
    color: white;
    margin-bottom: 0.5em;
}

.nav-list-link {
    width: 100%;
    display: inline-block;
    padding: 0 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.section {
    font-size: 1.25em;
}

img {
    height: auto;
    max-width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.section__header {
    text-align: center;
    font-size: 5vw;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    background-color: #e5e5e5;
    color: #8b0000;
    font-size: 1.125em;
    font-weight: 700;
}

.footer {
    text-align: center;
    padding: 0.5em;
    background-color: #e5e5e5;
}

@media screen and (min-width: 600px) {
    .info-section {
        display: flex;
    }
    .navigation {
        width: 20%;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        flex-direction: row;
    }
    .navigation,
    .news {
        width: 20vw;
    }
    .section {
        width: 60vw;
    }
}