html {
    font-size: 24px;
}

div {
    margin: 16px;
    border: 1px solid burlywood;
    display: flex;
}

.horizontal {
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.vertical {
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.horizontal>span {
    background-color: aqua;
}

.vertical>span {
    background-color: coral;
}