* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

.article {
    display: flex;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    min-width: 300px;
    flex-grow: 1;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}