header>h1 {
    text-align: center;
}

.article {
    flex: 300px 1 0;
    padding: 16px;
    margin: 8px;
    background-color: bisque;
    width: 300px;
    /* flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0; */
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}