.main-text {
    margin: 16px;
    border-bottom: 1px dotted black;
    position: relative;
    display: inline-block;
}

.main-tooltip {
    background-color: gray;
    border-radius: 4px;
    padding: 8px;
    left: 0px;
    bottom: -40px;
    position: absolute;
    color: white;
}